{% extends 'layout.twig' %}
{% block title %}Диалоги{% endblock %}
{% block main %}
    <h1>Диалоги</h1>
    {% if isAuthorized %}

        <table class="table">
            <thead>
            <tr>
                <td>ID</td>
                <td>Прочитано</td>
                <td>Непрочитанных</td>
                <td>С кем диалог</td>
                <td>Действия</td>
            </tr>
            </thead>
            <tbody>
            {% for dialog in dialogs %}
                <tr>
                    <td>{{ dialog.id }}</td>
                    <td>{{ dialog.viewed }}</td>
                    <td>{{ dialog.unviewedCount }}</td>
                    <td>{{ dialog.companionData.nameForDisplay }}</td>
                    <td><a href="/dialog/{{ dialog.id }}">Открыть диалог</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-error">Вы не авторизованы</div>
    {% endif %}
{% endblock %}