{% extends 'layout.twig' %}



{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Главная страница Delta Framwrork</h1>
    {% if user %}
        Добро пожаловать, {{ user.name }}!<br>
        Ваш ID: {{ user.id }}<br>
        {% if emailConfirmed == false %}
            Email требует подтверждения<br>
        {% endif %}
        <!--<pre>{{ dump(user) }}}}</pre>
        <pre>{{ dump(userData) }}</pre>
        <pre>{{ dump(userRoles) }}</pre>-->
    {% else %}
        Вы не авторизованы в системе
    {% endif %}
{% endblock %}