{% extends 'layout.twig' %}

{% block title %}Профиль пользователя {{ userData.login }}{% endblock %}

{% block main %}
    <h1>Профиль пользователя {{ userData.login }}</h1>
    <p>
        <span><b>ID:</b> {{ userData.id }}</span><br>
        <span><b>Логин:</b> {{ userData.login }}</span><br>
        <span><b>Имя:</b> {{ userData.name }}</span><br>
        <span><b>E-Mail:</b> {{ userData.email }}</span><br>
        <span><b>Был активен:</b> {{ userData.last_active }}</span><br>
        <form action="/users/{{ userData.id }}/dialog" method="POST">
            <button class="button" type="submit">Написать</button>
        </form>

    </p>
{% endblock %}